<div *ngIf="park" class="row">
  <div class="col-12">
    <h1>{{park.name}}</h1>
  </div>
  <div class="col-12">
    <p>{{park.country.countryNameEn}}</p>
  </div>
  <div class="col-12">
    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" style="outline: none" [readonly]="true"
                max="5"></ngb-rating>
  </div>

</div>

<!--//////////////////////////////// COMMENTS ////////////////////////////////////////-->

<div class="row">
  <form #f=ngForm (ngSubmit)="onSubmitComment()" class="col">
    <h2>Laissez un avis</h2>
    <div class="form-group">
      <label for="textarea1">Laisser un commentaire :</label>
      <textarea name="content" maxlength="500" [(ngModel)]="comment.content" required class="form-control"
                id="textarea1" rows="3"></textarea>
      <div *ngIf="comment.content" class="form-text small">
        <p>Nombre de caractères restant: {{500 - comment.content.length}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="my-0" for="rating1">Laisser une note (facultatif) :</label>
      <div class="row">
        <div class="col">
          <ngb-rating class="" id="rating1" style="font-size: 1.5em; outline: none" [(rate)]="comment.notation"
                      max="5"></ngb-rating>
          <i *ngIf="comment.notation !== 0" (click)="resetRating()" style="font-size: 1.2em;"
             class="cliquable fas fa-times ml-2"></i>
        </div>
      </div>
      <div class="form-text my-0 small">
        <div *ngIf="comment.notation !== 0" class="text-success">Votre note: {{comment.notation}}/5</div>
      </div>
    </div>
    <button [disabled]="f.invalid" type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>

<div *ngIf="comments"
     infiniteScroll
     [infiniteScrollDisabled]="infiniteScrollDisable"
     [infiniteScrollDistance]="0"
     [infiniteScrollThrottle]="50"
     (scrolled)="loadComments(this.page + 1, this.size)">

  <div class="row">
    <div class="col my-3">
      <h2>Commentaires <span class="badge badge-primary">{{comments.totalElements}}</span></h2>
    </div>
  </div>

  <div *ngFor="let i of comments.content" class="row">
    <div>
      <div class="col-12 my-3">
        <img [src]="i.socialUser.photoUrl" alt="user" class="img-rounded">
        <h3 class="d-inline">{{i.socialUser.name}}</h3>
        <span>{{i.date}}</span>
      </div>
    </div>

  </div>
</div>


<!--/////////////////////////////////// TEMPLATE ///////////////////////////////////-->

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>
