<!--NAVIGATION SANS NAVBAR-->

<div *ngIf="isHide" class="loginBackGround h-100">
  <div class="container">
    <router-outlet>
    </router-outlet>
  </div>
</div>


<!--BARRE DE NAVIGATION TOP-->
<nav *ngIf="!isHide" class="navbar navbar-dark fixed-top navbar-expand-lg border-bottom border-light nav-bg">

  <!--PARTIE GAUCHE-->

  <a class="navbar-brand ml-2 text-white cliquable p-0" routerLink="/home">
    <img src="../assets/img/logo.png" alt="Profile picture" class="logo">
    <span class="align-middle ml-2">{{title}}</span>
  </a>

  <button (click)="isToggledSideBar = !isToggledSideBar" type="button" class="btn mr-auto d-none d-lg-block"><span
    style="color: white"
    class="fa fa-bars fa-lg align-middle"></span></button>

  <button (click)="isToggledNavBar = !isToggledNavBar" type="button" class="btn d-lg-none">
    <span style="color: white" class="fa fa-bars fa-lg align-middle"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="!isToggledNavBar">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/park" (click)="isToggledNavBar = false">
          Les parcs
        </a>
      </li>


      <!-- CONTENU PETIT ECRAN -->
      <li class="nav-item dropdown d-md-block d-lg-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Mon compte
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
          <div *ngIf="isAuth">
            <a class="dropdown-item" routerLink="/account">Mon profil</a>
            <a (click)="authService.signOut()"
               class="dropdown-item cliquable">Se déconnecter
            </a>
          </div>
          <div *ngIf="!isAuth">
            <a class="dropdown-item" routerLink="/login">Authentification</a>
            <a class="dropdown-item" routerLink="/register">Inscription</a>
          </div>
        </div>
      </li>
      <li *ngIf="isAuth && isAdmin" class="nav-item dropdown d-sm-block d-lg-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu2" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu2">
          <a class="dropdown-item cliquable" routerLinkActive="active"
             [routerLink]="['/orders', 'admin']">Commande</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/product/create">Produit</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/category/create">Catégorie</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/farmer/create">Agriculteur</a>
        </div>
      </li>

      <form class="form-inline d-sm-block d-lg-none">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">&#xF002;</div>
          </div>
          <input id="typeahead-http1" type="text" class="form-control" [class.is-invalid]="searchFailed"
                 [ngbTypeahead]="search"
                 [resultFormatter]="formatter" [inputFormatter]="formatter" [resultTemplate]="rt"
                 placeholder="Recherche" name="park" [(ngModel)]="park" (keyup.enter)="submitSearch(park)"/>
        </div>
      </form>
      <!--FIN CONTENU PETIT ECRAN-->

    </ul>
  </div>

  <!--PARTIE DROITE-->

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">&#xF002;</div>
          </div>
          <input id="typeahead-http2" type="text" class="form-control" [class.is-invalid]="searchFailed"
                 [ngbTypeahead]="search"
                 [resultFormatter]="formatter" [inputFormatter]="formatter" [resultTemplate]="rt"
                 placeholder="Recherche" name="park" [(ngModel)]="park" (keyup.enter)="submitSearch(park)"/>
        </div>
      </form>

      <li *ngIf="isAuth" ngbDropdown class="nav-item ml-3">

        <a class="nav-link dropdown-toggle p-0 text-white cliquable" ngbDropdownToggle id="accountDropDown">
          <img [src]="photoUrl" alt="Profile picture" class="img-rounded mx-2">
          <span class="align-middle">{{userName}}</span>
        </a>

        <div ngbDropdownMenu aria-labelledby="accountDropDown" class="dropdown-menu ml-2 cliquable">
          <a class="dropdown-item" (click)="authService.signOut()"><i class="fas fa-sign-out-alt mr-2"></i>Se déconnecter</a>
        </div>

      </li>
    </ul>
  </div>
</nav>


<!-- SIDEBAR https://www.codeply.com/go/7XYosZ7VH5 -->
<div *ngIf="!isHide" class="row h-100 m-0 pt-5" id="body-row">
  <!-- Sidebar -->
  <div class="d-none d-lg-block col-xl-2 col-lg-3 p-0 border-right side-bar-bg"
       [ngClass]="{'d-lg-block': isToggledSideBar, 'd-lg-none': !isToggledSideBar}">

    <div class="list-group sticky-offset sticky-top list-group-flush pt-5">

      <a routerLinkActive="font-weight-bold active-bg" routerLink="/home"
         class="list-group-item list-group-item-action border-0 side-bar-bg"><i class="fas fa-home mr-2"></i>Accueil</a>

      <a *ngIf="!isAuth" routerLink="/login"
         class="list-group-item list-group-item-action border-0 side-bar-bg"><i class="fas fa-lock mr-2"></i>Authentification</a>

      <!-- /END Separator -->
      <!-- Menu with submenu -->
      <a *ngIf="isAuth" (click)="isCollapsedAdmin = !isCollapsedAdmin"
         [attr.aria-expanded]="isCollapsedAdmin" aria-controls="collapse1"
         class="list-group-item list-group-item-action border-0 side-bar-bg cliquable">
        <i class="fas fa-tools mr-2"></i>Administration<i class="ml-2 fas" [ngClass]="!isCollapsedAdmin ? 'fa-caret-down' : 'fa-caret-up'" ></i>
      </a>

      <!-- Submenu content -->
      <div *ngIf="isAuth" id="collapse1" [ngbCollapse]="!isCollapsedAdmin" class="collapse">
        <a routerLink="/admin/park/create" class="list-group-item list-group-item-action text-white bg-dark">
          <i class="fas fa-plus-circle mx-2"></i>Ajouter un parc
        </a>
        <a routerLink="/admin/park/edit" class="list-group-item list-group-item-action text-white bg-dark">
          <i class="fas fa-edit mx-2"></i>Modifier un parc
        </a>
      </div>

      <a routerLinkActive="font-weight-bold active-bg" routerLink="/about"
         class="list-group-item list-group-item-action border-0 side-bar-bg"><i class="fas fa-info-circle mr-2"></i>À-propos</a>

    </div>
    <!-- List Group END-->
  </div>
  <!-- sidebar-container END -->

  <div class="col">
    <div class="container">
      <div class="mb-5"></div>
      <router-outlet>
      </router-outlet>
    </div>
    <div class="mt-5"></div>
  </div>
</div>


<ng-template #rt let-r="result" let-t="term">
  <div (click)="submitSearch(r)">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    <img [src]="'https://www.countryflags.io/' + r.country.code + '/flat/32.png'" class="ml-2" style="width: 25px" [alt]="r.name">
  </div>
</ng-template>
