<!--NAVIGATION SANS NAVBAR-->

<div *ngIf="isHide" class="loginBackGround h-100">
  <div class="container">
    <router-outlet>
    </router-outlet>
  </div>
</div>


<!--BARRE DE NAVIGATION TOP-->
<nav *ngIf="!isHide" class="navbar navbar-dark fixed-top navbar-expand-lg border-bottom border-light nav-bg">

  <!--PARTIE GAUCHE-->

  <a class="navbar-brand ml-2 text-white cliquable p-0" routerLink="/products">
    <img src="../assets/img/logo.png" alt="Profile picture" class="logo">
    <span class="align-middle ml-2">{{title}}</span>
  </a>

  <button (click)="onSwitchToggle()" type="button" class="btn mr-auto d-none d-lg-block"><span style="color: white"
    class="fa fa-bars fa-lg align-middle"></span></button>

  <button class="btn d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span style="color: white" class="fa fa-bars fa-lg align-middle"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/park">
          Les parcs
        </a>
      </li>


     <!-- CONTENU PETIT ECRAN -->
      <li class="nav-item dropdown d-md-block d-lg-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Mon compte
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
          <div *ngIf="authService.isAuth()">
            <a class="dropdown-item" routerLink="/account">Mon profil</a>
            <a (click)="authService.signOut()"
               class="dropdown-item cliquable">Se déconnecter
            </a>
          </div>
          <div *ngIf="!authService.isAuth()">
            <a class="dropdown-item" routerLink="/login">Authentification</a>
            <a class="dropdown-item" routerLink="/register">Inscription</a>
          </div>
        </div>
      </li>
      <li *ngIf="authService.isAuth() && authService.isAdmin()" class="nav-item dropdown d-sm-block d-lg-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu2" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu2">
          <a class="dropdown-item cliquable" routerLinkActive="active"
             [routerLink]="['/orders', 'admin']">Commande</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/product/create">Produit</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/category/create">Catégorie</a>
          <a class="dropdown-item cliquable" routerLinkActive="active" routerLink="/farmer/create">Agriculteur</a>
        </div>
      </li>

      <form class="form-inline d-sm-block d-lg-none">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text cliquable">&#xF002;</div>
          </div>
          <input class="form-control pr-0" type="search" placeholder="Recherche" aria-label="Search" ngModel name="name"
                 required>
        </div>
      </form>
      <!--FIN CONTENU PETIT ECRAN-->

    </ul>
  </div>

  <!--PARTIE DROITE-->

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text cliquable">&#xF002;</div>
          </div>
            <input class="form-control pr-0" type="search" placeholder="Recherche" aria-label="Search" ngModel name="name"
                   required>
          </div>
      </form>

      <li *ngIf="authService.isAuth()" class="nav-item dropdown">

        <a class="nav-link dropdown-toggle p-0 text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img [src]="authService.getPhotoURL()" alt="Profile picture" class="img-rounded ml-4">
          <span class="align-middle ml-2">{{authService.getUserName()}}</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>

      </li>
    </ul>
  </div>
</nav>


<!-- SIDEBAR https://www.codeply.com/go/7XYosZ7VH5 -->
<div *ngIf="!isHide" class="row h-100 m-0 pt-5" id="body-row">
  <!-- Sidebar -->
  <div class="d-none d-lg-block col-2 p-0 border-right side-bar-bg"
       [ngClass]="{'d-lg-block': isToggled, 'd-lg-none': !isToggled}">

    <ul class="list-group sticky-offset sticky-top list-group-flush pt-5">

     <!-- <li class="list-group-item font-weight-bold mt-3" *ngIf="authService.isAuth()">
        Bonjour {{authService.getUserName()}}
      </li>-->

      <a *ngIf="!authService.isAuth()" routerLinkActive="text-dark font-weight-bold" routerLink="/register"
         class="list-group-item border-0 side-bar-bg">Inscription</a>
      <a *ngIf="!authService.isAuth()" routerLinkActive="text-dark font-weight-bold" routerLink="/login"
         class="list-group-item border-0 side-bar-bg">Authentification</a>

      <!-- /END Separator -->
      <!-- Menu with submenu -->
      <a *ngIf="authService.isAuth()" href="#submenu1" data-toggle="collapse" aria-expanded="false"
         class="side-bar-bg font-weight-bold list-group-item list-group-item-action flex-column align-items-start border-0">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span>Mon compte</span><span class="ml-2 dropdown-toggle"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div *ngIf="authService.isAuth()" id="submenu1" class="collapse">
        <a routerLink="/account" class="list-group-item list-group-item-action text-white bg-dark">
          <span class="ml-2">Modifier mon compte</span>
        </a>
        <a routerLink="/orders" class="list-group-item list-group-item-action text-white bg-dark">
          <span class="ml-2">Mes commandes</span>
        </a>
        <a (click)="authService.signOut()"
           class="list-group-item list-group-item-action text-white bg-dark cliquable">
          <span class="ml-2">Se déconnecter</span>
        </a>
      </div>

      <!-- Menu with submenu -->
      <a *ngIf="authService.isAuth() && authService.isAdmin()" href="#submenu2" data-toggle="collapse"
         aria-expanded="false"
         class="bg-primary font-weight-bold list-group-item list-group-item-action flex-column align-items-start border-0">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span>Administration</span><span class="ml-2 dropdown-toggle"></span>
        </div>
      </a>
      <!-- Submenu content -->
      <div *ngIf="authService.isAuth() && authService.isAdmin()" id="submenu2" class="collapse">
        <a class="list-group-item list-group-item-action text-white bg-dark cliquable"
           [routerLink]="['/orders', 'admin']"><span class="ml-2">Commande</span></a>
        <a class="list-group-item list-group-item-action text-white bg-dark cliquable"
           routerLink="/product/create"><span class="ml-2">Produit</span></a>
        <a class="list-group-item list-group-item-action text-white bg-dark cliquable"
           routerLink="/category/create"><span class="ml-2">Catégorie</span></a>
        <a class="list-group-item list-group-item-action text-white bg-dark cliquable"
           routerLink="/farmer/create"><span class="ml-2">Agriculteur</span></a>
      </div>

      <a routerLinkActive="text-dark font-weight-bold" routerLink="/about"
         class="list-group-item list-group-item-action border-0 side-bar-bg">À-propos</a>

    </ul>
    <!-- List Group END-->
  </div>
  <!-- sidebar-container END -->

  <div class="col">
    <div class="container">
      <div class="mb-5"></div>
      <router-outlet>
      </router-outlet>
    </div>
    <div class="mt-5"></div>
  </div>
</div>


